
.nav {
    background-color: #fcf4eb;
    grid-area: n;
    padding: 20px;


}

.item a {
    text-decoration: none;
    color: rgb(46, 147, 122);
    font-size: 20px;
    font-weight: bolder;

}


.item .activeLink {
    color: black;
    text-decoration: none;
}

.friends{
    margin-bottom: 1px;

}

