.header {
    background-image: url("../../images/stock-photo-abstract-geometric-background-green-gradient.jpg");
    grid-area: h;
    border: 6px solid #332;

    color: #642;
    font-size: 50px;

}



.header img {
    height: 100%;
}