.app-wrapper {


    padding: 4% 4% 25% 4%;
    background-color: #c8e8e0;

    display: grid;

    margin: 2%;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows:100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}


.app-wrapper-content {
    padding: 2%;
    background-color: rgb(242, 242, 242);
    grid-area: c;
}

.profileImg {
    width: 100%;

}




