.app-wrapper {


    padding: 4% 4%;
    background-image: url(images/derevo-struktura-doska.jpg);

    display: grid;
    width: auto;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows:100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}


.app-wrapper-content {
    background-color: lightgoldenrodyellow;
    grid-area: c;

    border: 6px solid #332;

}




